body {
  background-color: var(--light-pink);
}

/* ---HEADER--- */

.education-header {
  background-color: var(--light-peach);
  color: var(--dark-peach);
  box-shadow: var(--box-shadow) var(--dark-peach);

  h1 {
    font-family: Ultra, sans-serif;
    font-size: 3.5rem;
  }
}

.ham .line {
  stroke: var(--dark-turquoise);
}

.menu {
  a {
    color: var(--dark-turquoise);
  }
}

/* ---MAIN--- */
.navigation {
  background-color: var(--light-purple);
  color: var(--dark-purple);
  box-shadow: var(--box-shadow) var(--dark-purple);
  p {
    margin-block: 16px;
  }
  a {
    color: var(--dark-purple);
  }
}

.courses {
  display: flex;
  gap: 30px;
}

.div-section:not(.navigation) {
  h2 {
    font-size: 1.3rem;
    margin-block: 5px;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    margin-block: 0px 10px;
  }
}

.div-section1 {
  flex-direction: column;
  background-color: var(--light-yellow);
  color: var(--dark-yellow);
  box-shadow: var(--box-shadow) var(--dark-yellow);

  > p,
  > h3 {
    margin-block: 5px;
  }

  p:not(:has(em)) {
    font-size: 0.9rem;
  }
}

.div-section2 {
  flex-direction: column;
  flex: 1;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  box-shadow: var(--box-shadow) var(--dark-blue);
  margin-block: 0px 20px;
}

.div-section3 {
  flex-direction: column;
  flex: 1;
  background-color: var(--light-green);
  color: var(--dark-green);
  box-shadow: var(--box-shadow) var(--dark-green);
  margin-block: 0px 20px;
}

.div-section4 {
  flex-direction: column;
  background-color: var(--light-turquoise);
  color: var(--dark-turquoise);
  box-shadow: var(--box-shadow) var(--dark-turquoise);
}

.div-section5 {
  flex-direction: column;
  background-color: var(--light-peach);
  color: var(--dark-peach);
  box-shadow: var(--box-shadow) var(--dark-peach);
}

/* ---FOOTER--- */

.div-footer {
  background-color: var(--light-purple);
  color: var(--dark-purple);
  box-shadow: var(--box-shadow) var(--dark-purple);
}

.svg-github {
  color: var(--dark-purple);
}

.svg-linkedin {
  color: var(--dark-purple);
}
