@import url(https://fonts.googleapis.com/css?family=Dynalight:regular);
@import url(https://fonts.googleapis.com/css?family=Asset:regular);
@import url(https://fonts.googleapis.com/css?family=Ultra:regular);
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One:regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  /* ---COLORS--- */
  --light-green: #d4f3d9;
  --light-peach: #fec3a6;
  --light-blue: #bad7f2;
  --light-pink: #fad2e1;
  --light-yellow: #ffee93;
  --light-purple: #dbcdf0;
  --light-turquoise: #98f5e1;
  --dark-green: #0a721c;
  --dark-peach: #c04101;
  --dark-blue: #1163b1;
  --dark-pink: #bd4772;
  --dark-yellow: #917b02;
  --dark-purple: #5f25b6;
  --dark-turquoise: #015f66;

  /* ---FREQUENTLY USED VALUES--- */
  --border-radius: 40px;
  --box-shadow: 1px 1px 5px;
  --padding: 10px;
  --margin-block: 10px 30px;
}

* {
  box-sizing: border-box;
  font-family: Merriweather, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-inline-size: 850px;
  margin-inline: auto;
  min-height: 100%;
}

a {
  text-decoration: none;
}

/* ---HEADER--- */

.div-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-block: 1px 30px;
  margin-block: 10px 30px;
  border-radius: var(--border-radius);
}
.div-header > div:last-child {
  justify-self: end;
}

/* ---burger menu !!(code from Mikael Ainalem at codepen)!!--- */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 80px;
  height: 80px;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}

.menu-wrapper {
  position: relative;
}

.menu {
  position: absolute;
  top: 80px;
  right: 0;
  margin-inline-end: 10px;
  li {
    margin-block-end: 10px;
  }
  a {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

/* ---MAIN--- */

/* ---navigation on the cv and education page */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-block: var(--margin-block);

  a {
    font-size: 1.2rem;
    transition: 0.5s ease;
  }
  a:hover {
    font-size: 1.3rem;
  }
}
.no-link {
  p {
    font-size: 1.5rem;
  }
}

.div-section {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-block: var(--margin-block);
}

button {
  font-size: 1rem;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  border: none;
}

/* ---FOOTER--- */

.div-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-block: var(--margin-block);
}

li {
  list-style: none;
}

.svg-icons ul {
  display: flex;
  gap: 15px;
}

.svg-github {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-linkedin {
  width: 1.5rem;
  height: 1.5rem;
}

footer {
  position: flow;
  bottom: 0;
}
