@import url(https://fonts.googleapis.com/css?family=Dynalight:regular);
@import url(https://fonts.googleapis.com/css?family=Luxurious+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Kapakana:300,regular);
@import url(https://fonts.googleapis.com/css?family=Asset:regular);
@import url(https://fonts.googleapis.com/css?family=Gasoek+One:regular);
@import url(https://fonts.googleapis.com/css?family=Ultra:regular);
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One:regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  /* ---COLORS--- */
  --light-green: #d4f3d9;
  --light-peach: #fec3a6;
  --light-blue: #bad7f2;
  --light-pink: #fad2e1;
  --light-yellow: #ffee93;
  --light-purple: #dbcdf0;
  --light-turquoise: #98f5e1;
  --dark-green: #489755;
  --dark-peach: #f76c27;
  --dark-blue: #397bb8;
  --dark-pink: #bd4772;
  --dark-yellow: #c4a601;
  --dark-purple: #5f25b6;
  --dark-turquoise: #09866b;

  /* ---FREQUENTLY USED VALUES--- */
  --border-radius: 40px;
  --box-shadow: 1px 1px 5px;
  --padding: 10px;
  --margin-block: 10px 30px;
}

* {
  box-sizing: border-box;
  font-family: Merriweather, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-inline-size: 850px;
  margin-inline: auto;
  min-height: 100%;

  /* border: solid red 2px; */
}

/* ---HEADER--- */
.div-header {
  justify-items: center;
  padding-block: 1px 30px;
  margin-block: 10px 30px;
  border-radius: var(--border-radius);
}

/* ---MAIN--- */

.div-section {
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-block: var(--margin-block);
}

/* ---FOOTER--- */

.div-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-block: var(--margin-block);
}

li {
  list-style: none;
}

.svg-icons ul {
  display: flex;
  gap: 15px;
}

.svg-github {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-linkedin {
  width: 1.5rem;
  height: 1.5rem;
}

footer {
  position: flow;
  bottom: 0;
}
