body {
  background-color: var(--light-peach);
}

/* ---HEADER--- */

.index-header {
  background-color: var(--light-blue);
  box-shadow: var(--box-shadow) var(--dark-blue);
}

.first-name {
  font-family: Asset, sans-serif;
  color: var(--dark-blue);
  font-size: 3.7rem;
  line-height: 1;
}

.last-name {
  font-family: Dynalight, sans-serif;
  color: var(--dark-blue);
  font-size: 7rem;
  line-height: 0.5;
  text-shadow: 1px 1px 3px var(--dark-blue);
}

/* ---MAIN--- */

/* ---section 1--- */
.div-section1 {
  background-color: var(--light-pink);
  color: var(--dark-pink);
  box-shadow: var(--box-shadow) var(--dark-pink);
  position: relative;
  isolation: isolate;
}

.img-section1 {
  max-width: 250px;
  border-radius: 100%;
}

.div-img1 {
  margin-inline-start: 25px;
  position: relative;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  overflow: visible;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.div-img1::after,
.div-img1::before {
  content: '';
  position: absolute;
  height: 250px;
  width: 250px;
  background-image: conic-gradient(
    from var(--angle),
    var(--light-peach),
    var(--light-yellow),
    var(--light-green),
    var(--light-turquoise),
    var(--light-blue),
    var(--light-purple),
    var(--light-peach)
  );
  top: 49%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 100%;
  padding: 1px 3px;
  z-index: -1;
  animation: 5s spin linear infinite;
}

.div-img1::before {
  filter: blur(1.5rem);
  opacity: 0.8;
  transform: scale(1.1);
}

/* ---section 2--- */
.div-section2 {
  background-color: var(--light-green);
  color: var(--dark-green);
  box-shadow: var(--box-shadow) var(--dark-green);
  position: relative;
  isolation: isolate;

  p {
    text-align: right;
  }
}

.img-section2 {
  max-width: 250px;
  border-radius: 100%;
}

.div-img2 {
  margin-inline-end: 25px;
  position: relative;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  overflow: visible;
}

.div-img2::after,
.div-img2::before {
  content: '';
  position: absolute;
  height: 250px;
  width: 250px;
  background-image: conic-gradient(
    from var(--angle),
    var(--light-peach),
    var(--light-yellow),
    var(--light-turquoise),
    var(--light-blue),
    var(--light-purple),
    var(--light-pink),
    var(--light-peach)
  );
  top: 49%;
  left: 50%;
  translate: -50% -50%;
  border-radius: 100%;
  padding: 1px 3px;
  z-index: -1;
  animation: 5s spin linear infinite;
}

.div-img2::before {
  filter: blur(1.5rem);
  opacity: 0.8;
  transform: scale(1.1);
}

/* ---FOOTER--- */

.div-footer {
  background-color: var(--light-yellow);
  color: var(--dark-yellow);
  box-shadow: var(--box-shadow) var(--dark-yellow);
}

.svg-github {
  color: var(--dark-yellow);
}

.svg-linkedin {
  color: var(--dark-yellow);
}
