@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --background-color: #d4f3d9;
  --secondary-color: #267c33;
  --text-color: #092c0e;
  --accent-color: #b8893b;
  --secondary-accent-color: #d88a0eb2;

  --transition-time: 0.4s;
}

* {
  box-sizing: border-box;
  font-family: Merriweather, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
  margin: 0;

  /* border: solid green 2px; */
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-inline-size: 850px;
  margin-inline: auto;
  min-height: 100%;
  padding-inline: 10px;

  /* border: solid red 2px; */
}

.div-header {
  background-size: cover;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-block-start: 30px;

  h1 {
    font-size: 3.5rem;
    margin-block: 0;
    margin-inline-start: 5px;
  }

  ul {
    margin-block: 0;
    margin-inline-end: 5px;
  }
}

.index-header {
  background-image: url(/images/header.jpg);
}

.portfolio-header {
  background-image: url(/images/portfolio.jpg);
}

ul {
  list-style: none;
  padding-inline-start: 0;

  /* border: solid green 1px; */

  a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.2rem;
    transition: var(--transition-time);
  }
  a:hover {
    color: var(--accent-color);
    font-size: 1.3rem;
  }
}

.nav-bar-header {
  ul {
    display: flex;
    justify-content: end;
    gap: 30px;
  }
}

.div-main {
  min-height: 100%;
  padding-block-end: 30px;
  /* border: dotted blue 1px; */
}

p {
  font-weight: 500;
}

.nav-bar-main {
  margin-block-end: 50px;
  border-bottom: solid var(--accent-color) 1px;
  ul {
    display: flex;
    justify-content: space-between;
  }
  a {
    font-size: 1.6rem;
    font-weight: 400;
  }
  a:hover {
    font-size: 1.7rem;
    font-weight: 600;
  }
  li {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

.div-showcase {
  display: grid;
  grid-template-columns: repeat(1fr 2fr);
  grid-template-rows: repeat(2, 1fr);
  margin-block-start: 50px;
  /* border: dotted purple 1px; */
}

.showcase-btn {
  /* border: solid green 1px; */
  button {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--accent-color);
    padding: 10px 20px;
    border: solid 2px var(--text-color);
    border-radius: 10px;
    transition: var(--transition-time) ease;
  }
  button:hover {
    cursor: pointer;
    background-color: var(--secondary-accent-color);
  }
}

.showcase-link {
  grid-column-start: 1;
  grid-row-start: 2;
  align-content: center;
  /* border: solid blue 1px; */
  a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--transition-time);
  }
  a:hover {
    color: var(--accent-color);
    font-size: 1.3rem;
  }
}

.showcase-description {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
  margin-inline-start: 50px;
  /* border: solid red 1px; */
  p {
    margin: 0;
  }
  .p-date {
    font-style: italic;
  }
}

footer {
  position: flow;
  bottom: 0;
  padding-block: 30px 20px;

  border-top: solid var(--accent-color) 1px;

  .copy {
    color: var(--accent-color);
  }
}

/* @media {
} */
